{% load staticfiles%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load bootstrap4 %}
        {% bootstrap_css %}
     <link href="{% static 'cover.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Joe's</title>
</head>
<body class="text-center">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Joe's</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </header>
<main role="main" class="inner cover">
        <h1 class="cover-heading">My web-project.</h1>
        <p class="lead">Anything nice text, which  presents my web-project. I don't know yet, what to write. Maybe after few lessons I write it.</p>
        <p class="lead">
          <a href="{% url 'Atom:start' %}" class="btn btn-lg btn-secondary">Enter</a>
        </p>
      </main>
    <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>It was created for <a href="https://atom.mail.ru/">Техноатом</a>, by <a href="#">Me</a>.</p>
        </div>
      </footer>
</div>
</body>
</html>