<html lang="en">
  <head>
      {% load bootstrap3 %}
      {% load staticfiles %}
      {% load socialaccount %}
      {% bootstrap_javascript %}
    {% bootstrap_css %}
    {% bootstrap_messages %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Welocome to Joe</title>
    <link href="{% static 'css/auth.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
        <br>

  <a href="{% url 'social:begin' 'github' %}">Login with Twitter</a><br>
        <br>
        <form id="contact_form" action="{% url 'Atom:login' %}" method="post" class="form-signin">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'css/aur.jpg' %}" alt="" width="72" height="72">
        <label for="id_username" class="sr-only">Login</label>
        <input type="text" id="id_username" class="form-control" placeholder="Username" name="username" required autofocus>
         <label for="id_password" class="sr-only">Password</label>
      <input type="password" id="id_password" class="form-control" placeholder="Password" name="password" required>
        {% buttons %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Войти</button>
            </div>
        {% endbuttons %}
        <a href="{% url 'Atom:auth' %}">
            {% bootstrap_button "Sign up" button_type="link" button_class="btn-default"  %}
        </a>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>

  </body>
</html>